fastapi==0.115.12
uvicorn==0.34.2

langchain==0.3.25
langchain-community==0.3.24
langchain-core==0.3.60
langchain-qdrant==0.2.0
langchain-huggingface==0.1.2
langchain-ollama==0.2.3

qdrant-client==1.10.1

sentence-transformers==4.1.0

pypdf==5.5.0

python-multipart==0.0.20

httpx==0.28.1